<div id="navBar">

	<!-- desktop + tablet -->
	<nav class="desktop">
		<!-- open -->
		<i class="material-icons hamburger"
			ng-if="!navCtrl.opened"
			ng-click="navCtrl.toggle()"
			>&#xE5D2;
		</i>

		<!-- close -->
		<i class="material-icons hamburger"
			ng-if="navCtrl.opened"
			ng-click="navCtrl.toggle()"
		>&#xE5CD;</i>


		<!-- desktop Nav Links -->

		<div class="desktop-group">
			<!-- logo -->
			<img class="logo" src="https://on.google.com/hub/static/images/onhub_logo.svg" alt="" >

			<!-- links -->
			<ul class="link-wrap">
				<li class="link"> <a href="#" ng-click="navCtrl.close()">Features</a> </li>
				<li class="link"> <a href="#" ng-click="navCtrl.close()">App</a> </li>
				<li class="link"> <a href="#" ng-click="navCtrl.close()">Support</a> </li>
				<li class="link"> <a href="#" ng-click="navCtrl.close()">Blog</a> </li>
			</ul>
			<!-- buy btn -->
			<li class="buy-btn">
				<p>buy now</p>
				<p class="small">from Amazon</p>
			</li>
		</div>
	</nav>

	<!-- mobile -->
	<nav class="mobile">
		<ul>
			<li class="link"> <a href="#" ng-click="navCtrl.close()">Features</a> </li>
			<li class="link"> <a href="#" ng-click="navCtrl.close()">App</a> </li>
			<li class="link"> <a href="#" ng-click="navCtrl.close()">Support</a> </li>
			<li class="link"> <a href="#" ng-click="navCtrl.close()">Blog</a> </li>
		</ul>
	</nav>


</div>
