<div class="header-hero">
	<img src="https://on.google.com/hub/static/images/v2/hero.jpg" alt="">

	<div class="content-hero">
		<h2 class="title">OnHub from Google</h2>
		<h3 class="sub-title">A Better way to wifi</h3>

		<p class="content">
		OnHub from Google is a better, faster router. It’s designed to handle the new demands we put on Wi-Fi, making it easier and faster to stream, download, and share. With simple setup and optimal design, OnHub improves connectivity for all your devices.
		</p>

		<a href="#" class="closer-look">Take a closer look <span> _></span></a>
	</div>

</div>