<div id="poweredGoogle">
	
	<!-- title -->
	<div class="title">
		Speed. Simplicity. Smarts.<br>
		It's <span>Wi-Fi</span>
		powered by Google.
	</div>

	<!-- body -->
	<div class="body">
		With two distinct models to choose from, you can find the OnHub option that’s right for your home.
	</div>

	<!-- device-grid -->
	<div class="device-grid">
		<!-- left -->
		<div class="left">

			<div class="image">
				<img src="https://on.google.com/hub/static/images/v2/asus.png" alt="" class="model-image">
			</div>

			<div class="content">
				<img src="https://on.google.com/hub/static/images/onhub_logo.svg" alt="" class="logo">
				<div class="features">
					<div class="feature">Manufactured by Asus</div>
					<div class="feature">Wave Control</div>
					<div class="feature">Subtle lighting on the base (single tri-color LED)</div>
				</div>
			</div>
		</div>

		<!-- right -->
		<div class="right">
			<div class="image">
				<img src="https://on.google.com/hub/static/images/v2/tplink.png" alt="" class="model-image">
			</div>
			<div class="content">
				<img src="https://on.google.com/hub/static/images/onhub_logo.svg" alt="" class="logo">
				<div class="features">
					<div class="feature">Manufactured by TP-LINK</div>
					<div class="feature">Front-facing atenna</div>
					<div class="feature">Ambient light ring on top (six tri-color LEDs)</div>
				</div>
			</div>
		</div>
	</div>

	<!-- buy btn -->
	<a href="#" class="buy-btn">buy now from<br>Amazon</a>

	<!-- checkout arrow -->
	<a href="" class="check-out-arrow">checkout out all the different model features <span class="arrow">--></span> </a>
</div>