<div id="quote-carousel">
	<!-- divider -->
	<img src="https://on.google.com/hub/static/images/v2/awards-shadow.png" alt="" class="divider">

	<!-- quote icon -->
	<div class="quote-icon">"</div>
	
	<!-- carosel container -->
	<div class="quote-container">

		<!-- content -->
		<div class="title">Product of the Year</div>
		<div class="sub-title">Yahoo Tech!</div>


		<!-- selector -->
		<div class="quote-selector">

			<img src="https://on.google.com/hub/static/images/v2/awards-shadow.png" alt="" class="divider">
			
			<ul class="companies">
				<li class="company">A</li>
				<li class="company selected">B</li>
				<li class="company">C</li>
				<li class="company">D</li>
				<li class="company">E</li>
			</ul>
		</div>
			
	</div>


	<!-- divider -->
	<img src="https://on.google.com/hub/static/images/v2/awards-shadow.png" alt="" class="divider">
</div>