
#navBar {
	padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.35s ease-in-out;
	z-index: 100;

	&.opened {
		box-shadow: 0 2px 4px rgba(0,0,0,0.5);
		background-color: white;
	}
	&.white {
		background-color: rgba(255,255,255,0.9) !important;
		box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	}

}

#navBar .desktop .hamburger {
	color: gray;
	display: inline-block;
	width: 34px;
	line-height: 34px;
	height: 34px;
	padding-right: 10px;
	cursor: pointer;

	@include desktop {
		display: none;
	} 
}


// navBAR
#navBar	.desktop {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
}


// inner group
#navBar .desktop .desktop-group {	
	display: flex;
	align-items: center;
	width: 100%;

	.logo {
		height: 34px;
		width: 81px;
		max-width: 100%;
	}

	.link-wrap {
		display: none;
		@include desktop {
			align-items: center; 
			display: flex;
			margin-left: auto;
		}

		.link {
			color: #646466;
			a {
				padding: 15px 25px 13px;
				display: inline-block;
			}
		}
	}
}

// buy btn
#navBar .desktop .desktop-group .buy-btn {
	background: #00325a;
	padding: 10px 20px 7px;
	border-radius: 3px;
	// float: right;
	text-transform: uppercase;
	list-style-type: none;
	margin-left: auto;
	@include desktop {
		margin: 0;
	}

	p {
		color: white;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		line-height: 1;

		&.small {
			font-size: 10px;
		}
	}
}


#navBar .mobile {
	max-height: 0;
	transition: all 0.35s ease-in-out;
	text-align: center;
	overflow: hidden;
	opacity: 0;
	width: 100%;

	@include desktop {
		display: none;
	}

	&.show {
		max-height: 270px;
		opacity: 1;
	}

	ul {
		padding: 10px 0;
	}

	li {
		a {
			color: #646466;
			display: block;
			padding: 15px 25px 13px;
			text-transform: uppercase;
			text-align: left;
			text-decoration: none;
			transition: all 0.2s ease-in-out;
		}
	}
}